.homes {
  grid-column: center-start/ center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.home {
  background-color: $color-grey-light-1;
  //position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
  &__img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 1;
  }

  &__like {
    width: 2rem;
    height: 2rem;
  }

  &__checkbox--like {
    display: none;

    & + label {
      fill: $color-white;
      grid-column: 2/3;
      grid-row: 1/2;
      width: 2rem;
      height: 2rem;
      z-index: 2;
      justify-self: end;
      margin: 1rem;
      transition: all 0.2s;
    }
    & + label:hover {
      cursor: pointer;
      fill: red;
    }

    &:checked + label svg {
      fill: red;
    }
  }

  &__name {
    grid-column: 1/-1;
    grid-row: 1/2;
    font-family: $font-display;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: $color-secondary;
    color: $color-white;
    font-weight: 400;
    justify-self: center;
    align-self: end;
    width: 80%;
    z-index: 3;
    transform: translateY(50%);
  }
  &__location,
  &__rooms {
    margin-top: 2.5rem;
  }

  &__location,
  &__rooms,
  &__area,
  &__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    // justify-self: center;
    // align-self: center;
    svg {
      fill: $color-primary;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }
  }
  &__btn {
    grid-column: 1/-1;
  }
}
